mixin user(user)
  td.user__fullname(data-name="fullName")=user.fullName
  td.user__email(data-name="email")=user.email
  td.user__birthdate(data-name="birthdate") #{formatDate(user.birthdate)}
  td.user__action
    a.user__action-link.js-action-link(data-action="remove", data-id=user._id, href="#") Удалить 
    a.user__action-link.js-action-link(data-action="edit", data-id=user._id, href="#") Редактировать


-function formatDate(dateString) {
  -var date = new Date(dateString);
  -var dd = date.getDate();
  -if (dd < 10) dd = '0' + dd;

  -var mm = date.getMonth() + 1;
  -if (mm < 10) mm = '0' + mm;

  -var yy = date.getFullYear();

  -return yy + '-' + mm + '-' + dd;
-}
